.div,
.div * {
    box-sizing: border-box;
    width: 100%;
}

.div {
  background: #574d43;
  background-image: 100%;
  width: 1520px;
  height: 2477px;
  position: relative;
  overflow: hidden;
}

._1679365110-design-pibig-info-p-odnoetazhnie-modulnie-doma-dizain-oboi-2-1 {
  width: 1520px;
  height: 733px;
  position: absolute;
  left: 1520px;
  top: -1px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.rectangle-1 {
  background: #5d5b5b;
  width: 286px;
  height: 71px;
  position: absolute;
  left: 1073px;
  top: -1px;
  filter: blur(45px);
}
._3-1536-x-864-1 {
    border-radius: 3.3125rem;
    width: 36.75rem;
    height: 22.5rem;
    position: absolute;
    left: 4.25rem;
    top: 52.75rem;
    object-fit: cover;
}
._1-679365111 {
    border-radius: 3.3125rem;
    width: 35.9375rem;
    height: 22.5rem;
    position: absolute;
    left: 51.125rem;
    top: 52.5625rem;
    object-fit: cover;
  }
  ._1678516769-staisha-top-p-modulnii-gostevoi-dom-banya-dom-krasivo-17-1 {
    border-radius: 3.3125rem;
    width: 36.75rem;
    height: 20.8125rem;
    position: absolute;
    left: 4.25rem;
    top: 77.25rem;
    object-fit: cover;
  }
  ._1665699079-5-cobrio-club-p-khozblok-v-sovremennom-stile-dizain-pinter-5-1 {
    border-radius: 3.3125rem;
    width: 35.9375rem;
    height: 20.8125rem;
    position: absolute;
    left: 51.125rem;
    top: 77.0625rem;
    object-fit: cover;
  }
  .div2 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    position: absolute;
    left: 49.5625rem;
    top: 40.9375rem;
    width: 17.125rem;
    height: 1.75rem;
  }
  .rectangle-2 {
    border-style: solid;
    border-color: #f7f7f7;
    border-width: 0.125rem;
    width: 17.5625rem;
    height: 3.1875rem;
    position: absolute;
    left: 47rem;
    top: 39.875rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-3 {
    width: 17.5rem;
    height: 3.1875rem;
    position: absolute;
    left: 69.5625rem;
    top: 39.875rem;
    transform: translate(0rem, 0rem);
    overflow: visible;
  }
  .div3 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular";
    font-size: 1.5625rem;
    font-weight: 400;
    position: absolute;
    left: 35.8125rem;
    top: 48.8125rem;
    width: 32.8125rem;
    height: 3.9375rem;
  }
  .div4 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    position: absolute;
    left: 71.5625rem;
    top: 40.9375rem;
    width: 17.125rem;
    height: 1.75rem;
  }
  ._1682109801-mykaleidoscope-ru-p-modulnii-domik-dizain-oboi-74-1 {
    opacity: 0.6000000238418579;
    width: 95.9375rem;
    height: 46.3125rem;
    position: absolute;
    left: -1.375rem;
    top: 101.3125rem;
    filter: blur(0.3125rem);
    object-fit: cover;
  }
  .div5 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
    position: absolute;
    left: 2.4375rem;
    top: 103.6875rem;
    width: 33.5625rem;
    height: 2.9375rem;
  }
  .div6 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 53.8125rem;
    top: 94.875rem;
    width: 15.3125rem;
    height: 2.6875rem;
  }
  .div7 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 6.9375rem;
    top: 93.8125rem;
    width: 16.875rem;
    height: 4.25rem;
  }
  .div8 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 6.375rem;
    top: 72.4375rem;
    width: 18.0625rem;
    height: 1.4375rem;
  }
  .div9 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 54.3125rem;
    top: 72.25rem;
    width: 17.0625rem;
    height: 3.9375rem;
  }
  .div10 {
    color: #ffffff;
    text-align: center;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    position: absolute;
    left: 2.5rem;
    top: 119.9375rem;
    width: 23.75rem;
    height: 3.75rem;
  }
  .div16 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 37.5625rem;
    top: 2.625rem;
    width: 7.875rem;
    height: 1.75rem;
  }
  .div17 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: calc(50% - -5.09375rem);
    top: 2.625rem;
    width: 15.75rem;
    height: 2.9375rem;
  }
  .div18 {
    color: #ffffff;
    text-align: left;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: calc(50% - -22.34375rem);
    top: 2.6875rem;
    width: 10.4375rem;
    height: 2.9375rem;
  }
  .div19 {
    color: #ffffff;
    text-align: left;
    font-family: "ArchivoBlack-Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 1.25rem;
    top: 28.5625rem;
    width: 52.25rem;
    height: 10.5rem;
  }
  .premium-quality-1 {
    width: 5.4375rem;
    height: 5.5625rem;
    position: absolute;
    left: 11.6875rem;
    top: 111.375rem;
    object-fit: cover;
  }
  .outflow-1 {
    width: 5.5625rem;
    height: 5.5625rem;
    position: absolute;
    left: 41.3125rem;
    top: 111.375rem;
    object-fit: cover;
  }
  .div11 {
    color: #ffffff;
    text-align: center;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    position: absolute;
    left: 33.5625rem;
    top: 119.9375rem;
    width: 20.625rem;
    height: 3.75rem;
  }
  .ellipse-8 {
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.125rem;
    width: 8.5625rem;
    height: 7.8125rem;
    position: absolute;
    left: 10.125rem;
    top: 110.25rem;
  }
  .ellipse-9 {
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.125rem;
    width: 8.5625rem;
    height: 7.8125rem;
    position: absolute;
    left: 39.625rem;
    top: 110.25rem;
  }
  .wrench-1 {
    width: 5.5625rem;
    height: 5.5625rem;
    position: absolute;
    left: 71rem;
    top: 111.375rem;
    object-fit: cover;
  }
  .div12 {
    color: #ffffff;
    text-align: center;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    position: absolute;
    left: 63.125rem;
    top: 119.9375rem;
    width: 21.0625rem;
    height: 3.75rem;
  }
  .ellipse-10 {
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.125rem;
    width: 8.5625rem;
    height: 7.8125rem;
    position: absolute;
    left: 69.5rem;
    top: 110.25rem;
  }
  .ui-design-1 {
    width: 5.625rem;
    height: 5.5625rem;
    position: absolute;
    left: 54.625rem;
    top: 128.125rem;
    object-fit: cover;
  }
  .div13 {
    color: #ffffff;
    text-align: center;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    position: absolute;
    left: 46.25rem;
    top: 137.875rem;
    width: 21.6875rem;
    height: 3.75rem;
  }
  .ellipse-11 {
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.125rem;
    width: 8.5625rem;
    height: 7.8125rem;
    position: absolute;
    left: 53.0625rem;
    top: 127rem;
  }
  .clean-house-1 {
    width: 6.1875rem;
    height: 5.5625rem;
    position: absolute;
    left: 26.0625rem;
    top: 128.125rem;
    object-fit: cover;
  }
  .div14 {
    color: #ffffff;
    text-align: center;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    position: absolute;
    left: 18rem;
    top: 137.875rem;
    width: 16.5rem;
    height: 3.75rem;
  }
  .ellipse-12 {
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.125rem;
    width: 8.5625rem;
    height: 7.8125rem;
    position: absolute;
    left: 24.875rem;
    top: 127rem;
  }
  .div15 {
    color: #ffffff;
    text-align: center;
    font-family: "Intro-Regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    position: absolute;
    right: 1.625rem;
    top: 104.3125rem;
    width: 19.1875rem;
    height: 3.3125rem;
  }
  .rectangle-4 {
    background: #2e2a27;
    border-radius: 3.75rem;
    width: 95.375rem;
    height: 17.9375rem;
    position: absolute;
    left: 0rem;
    top: 146.25rem;
  }
  ._7-900-000-00-00 {
    color: #ffffff;
    text-align: center;
    font-family: "JosefinSlab-Regular", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    position: absolute;
    left: 5.1875rem;
    top: 149.875rem;
    width: 24.1875rem;
    height: 4.9375rem;
  }
  .pochta-gmail-com {
    color: #ffffff;
    text-align: center;
    font-family: "JosefinSlab-Regular", sans-serif;
    font-size: 2.1875rem;
    font-weight: 400;
    position: absolute;
    left: 63.125rem;
    top: 149.5rem;
    width: 25.0625rem;
    height: 5.0625rem;
  }
  